
body {
   background-color: rgb(33, 35, 36);
   padding: 0px;
   margin: 0px;
}

.menu {
   font-family: 'Courier New', Courier, monospace;
   background-color: #66c98a;
   box-shadow: 0 4px 4px #0a0a0a55;
   top: 0;
   height: 50px;
   position: fixed;
   width: 100%;
}

.item {
   color: rgb(48, 46, 46);
   display: inline-block;
   padding: 1em 10px;
}

.item:hover {
   box-shadow: inset 2px 2px 4px #0a0a0a55;
   background-color: rgba(0, 0, 0, 0.103);
}

#text-section {
   margin-top: 60px;
   padding-left: 10px;
}

.grid {
   margin: 5px;
   margin-top: 30px;
   text-align: center;
}

.menu a {
   color: rgb(48, 46, 46);
  text-decoration: none;
}

.menu a:visited {
   color: rgb(48, 46, 46);
}

#image_item {
   color: black;
   display: inline-block;
   background-color: rgb(60, 64, 66);
   box-shadow: 0 0 3px #3838384c;
   border-radius: 4px;
   margin: 5px;
   width: 120px;
   transition: all .1s ease-in-out;
}
#image_item:hover {
   transform: scale(1.1);
}
img {
   display: block;
   width: 100px;
   height: 100px;
   margin: 10px auto;
   background-position: center center;
}

@media (min-width: 600px) {
   .grid {
      width: 75%;
   }

   #text-section {
      margin-top: 60px;
      padding-left: 50px;
   }
}

p {
   color: aqua;
}